
<div class="container__store">
  <div class="store_product_discout fs-16 mx-w-80 bd-radius-3">
    <i class="fas fa-tags"></i>  Nhấn vào mục Mã giảm giá ở cuối trang để hưởng miễn phí vận chuyển bạn nhé!
  </div>

  <div class="store-product fs-16 mx-w-80 bd-radius-3"> 
    
    <div class="header_order bd-radius-3">
      <div class="check-all-product">
        <input type="checkbox" id="check-all-product">
        <label for="check-all-product">Sản phẩm</label>
      </div>
      <div class="_3hJbyz">Đơn giá</div>
      <div class="_4hJbyz">Số lượng</div>
      <div class="_5hJbyz">Số tiền</div>
      <div class="_6hJbyz">Thao tác</div>
    </div>

    <div class="detail_product_order mt-16 bd-radius-3">
      <div class="store-name ">
        <input type="checkbox" id="check-favorite">
        <label for="check-favorite"><span>Yêu thích</span><span>Name store <i class="fas fa-comment-alt"></i></span></label>
      </div>
      <div class="detail-product">
        <div class="item-product">
          <input type="checkbox" class="custom-control-input" id="check-favorite">
          <div class="_3SWf-5"  style="background-image: url('https://cf.shopee.vn/file/068ada7da9537613fc00f47eb23bcd52');"></div>
           <p class="name-item ">
             Áo khoác măng tô hàng quảng châu cao cấp Miho house
           </p>
        </div>
        
        <div class="_3hJbyz">Đơn giá</div>
        <div class="_4hJbyz">Số lượng</div>
        <div class="_5hJbyz">Số tiền</div>
        <div class="_6hJbyz">Thao tác</div>

      </div>
    </div>

  </div>


</div>
