{{!-- <div class="container-footer mx-w-80 ">
    <div class="row conection-footer">
        <div class="col">
            1
        </div>
        <div class="col">
            2
        </div>
        <div class="col">
            3
        </div>
        <div class="col">
            4
        </div>
        <div class="col">
            5
        </div>
    </div>

    <div class="row">
        <div class="col-md-auto  ">
            © 2021 Shopee. Tất cả các quyền được bảo lưu.
        </div>
        <div class="col">
            Quốc gia  Khu vực:
            Singapore
            Indonesia
            Đài Loan
            Thái Lan
            Malaysia
            Việt Nam
            Philippines
            Brazil
            México
            Colombia
            Chile
            Poland
            Spain
            France
        </div>
    </div>
</div> --}}