  <!--navbar-->
    <nav>
        <!--logo and search-->
        <div class="left-side">
            <div class="logo">
                <img src="img/icons/facebook.svg" alt="">
            </div>

            <div class="search">
                <input type="text" placeholder="Search Facebook" name="" id="">
            </div>
        </div>

        <!--tab icons-->
        <div class="tabs">
            <div class="tab-icon active">
                <div class="icon">
                    <img src="img/icons/home.svg" alt="">
                </div>
            </div>

            <div class="tab-icon">
                <div class="icon has-notification">
                    <img src="img/icons/flag.svg" alt="">
                </div>
            </div>

            <div class="tab-icon">
                <div class="icon">
                    <img src="img/icons/tv.svg" alt="">
                </div>
            </div>

            <div class="tab-icon">
                <div class="icon">
                    <img src="img/icons/users.svg" alt="">
                </div>
            </div>


            <div class="tab-icon">
                <div class="icon has-notification">
                    <img src="img/icons/calendar.svg" alt="">
                </div>
            </div>
        </div>

        <!--right side-->
        <div class="right-side">
            <div class="user">
                <div class="profile">
                    <img src="img/avatar/hero.png" alt="">
                </div>
                <h4>Anne</h4>
            </div>

            <!--icons-->
            <div class="user-icons">
                <div class="icon">
                    <img src="img/icons/plus.svg" alt="">
                </div>

                <div class="icon has-notification">
                    <img src=" img/icons/messenger.svg" alt="">
                </div>

                <div class="icon">
                    <img src="img/icons/bell.svg" alt="">
                </div>

                <div class="icon">
                    <img src="img/icons/arrow.svg" alt="">
                </div>
            </div>
        </div>
    </nav>